{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="page header">
            <h1>Resumes</h1>
            <hr>
        </div>
        {% if Resume %}
            <h3>Latest resume</h3>
                <a href="{{ Resume.docfile }}">{{ Resume.docfile.name }}</a> - Last uploaded: {{ Resume.latest_timestamp }}</p>
            <h3>Previous Resumes</h3>
                <ul>
                    {% for timestamp in timestamps %}
                        <li>{{ timestamp.datetime }}</li>
                    {% endfor %}
                </ul>
        {% else %}
            <p>No resumes.</p>
        {% endif %}
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "resumes" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <h1>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</h1>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload"/></p>
        </form>
    </div>
{% endblock content %}