{% extends "base.html" %}

{% block content %}
        {% if Resumes %}
            <h1>Resumes</h1>
            <ul>
                {% for resume in Resumes %}
                    <li><a href="{{ resume.docfile.url }}">{{ resume.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No resumes.</p>
        {% endif %}
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "resumes" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1><label for="id_docfile">Select a file:</label></h1>
            <div class="form-group">
                <label for="id_docfile">File input</label>
                <input id="id_docfile" type="file" />
            </div>
            <button type="submit" class="btn btn-default" value="Upload">Submit</button>
        </form>
{% endblock content %}