<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Distributed File Storage System Demo</title>
    </head>
    <body>
        {% if Resumes %}
            <h1>Resumes</h1>
            <ul>
                {% for resume in Resumes %}
                    <li><a href="{{ resume.docfile.url }}">{{ resume.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No resumes.</p>
        {% endif %}
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "resumes" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <h1>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</h1>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>
</html>